<h1>New Staff</h1>

<%= render 'form', staff: @staff %>
<%= form_tag import_staffs_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "インポート" %>
<% end %>
<%= link_to 'Back', staffs_path %>
