<%= bootstrap_devise_error_messages! %>
<div class="mflogo">
  <%= image_tag '/images/logo.png', alt: "logo", size: "100x100" %>
</div>
<div class="form-frame">
  <p style="text-align:center;margin-top:2vh;margin-bottom:-1vh;">※工学院生のみ参加可能</p>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    

    <div class="form-group">
      <%= f.label :学籍番号, class: "form-text" %>
      <%= f.text_field :student_no, autofocus: true, required: true, autocomplete: 'student_no', pattern: "[K,k]+[0-9]{3}[a-zA-Z]{1}[0-9]{4}", maxlength: 9, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :email, class: "form-text" %>
      <%= f.email_field :email, required: true, autocomplete: 'email', placeholder: "@g.neec.ac.jpのみ有効", pattern: "[a-zA-Z0-9]+@g.neec.ac.jp", maxlength: 30, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label "プレイヤーネーム", class: "form-text" %>
      <em class="form-text text-muted">（変更不可）</em>
      <%= f.text_field :name, maxlength: 10, required: true, placeholder: "10文字以内", class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :password, class: "form-text" %>
      <% if @minimum_password_length %>
        <em class="form-text text-muted"><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></em>
      <% end %>
      <%= f.password_field :password, autocomplete: 'current-password', required: true, class: 'form-control' %>

      
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation, class: "form-text" %>
      <%= f.password_field :password_confirmation, required: true, autocomplete: 'current-password', class: 'form-control' %>
    </div>

    <div class="form-group-btn">
      <%= f.submit t('.sign_up'), class: 'btn btn-primary' %>
    </div>
  <% end %>
<div class="form-line"></div>
  <div class="form-links">
    <%= render 'devise/shared/links' %>
  </div>
</div>