<%= bootstrap_devise_error_messages! %>
<div class="mflogo">
  <%= image_tag '/images/logo.png', alt: "logo", size: "100x100" %>
</div>
<div class="form-frame">
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.hidden_field :reset_password_token %>

    <div class="form-group">
      <%= f.label :password, t('.new_password') %>
      <%= f.password_field :password, autofocus: true, class: 'form-control'  %>

      <% if @minimum_password_length %>
        <small class="form-text text-muted"><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></small>
      <% end %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation, t('.confirm_new_password') %>
      <%= f.password_field :password_confirmation, autocomplete: 'off', class: 'form-control'  %>
    </div>

    <div class="form-group-btn">
      <%= f.submit t('.change_my_password'), class: 'btn btn-primary' %>
    </div>
  <% end %>

<div class="form-line"></div>
  <div class="form-links">
    <%= render 'devise/shared/links' %>
  </div>
</div>
