<%= form_with(model: prize) do |form| %>
  <% if prize.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(prize.errors.count, "error") %> 保存できませんでした:</h2>

      <ul>
        <% prize.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <table class="scaf_table">
  <tr>
    <th>景品名</th><td><%= form.text_field :prize, class: "form-control", required: true, autofocus: true %></td>
  </tr>
    
  <tr>
    <th>個数</th><td><%= form.text_field :qty, class: "form-control", required: true %></td>
  </tr>

  <tr>
    <th>カテゴリ</th><td><%= form.text_field :category, class: "form-control", required: true %></td>
  </tr>

  <tr>
    <th>画像</th><td><%= form.file_field :image, class: "form-file-img", id: :file_img, :required => true, accept: 'image/*' %></td>
  </tr>
</table>
  <div style="text-align:center;">
    <%= form.submit %>
  </div>
<% end %>

