<div class="all-page-area">
		<div class="snow">●</div> 
		<div class="all-page-title">
		2021 Xmas WEEK
		<div class="all-page-title-sub">
		Prize List
		</div>	
		<div class="all-page-title-subtext">
		 - 工学院クリスマスウィーク 2021 景品一覧 - 
		</div>
		<div class="all-page-title-subtext2">
		 抽選会 12/23 (Thu) 16:30～
		</div>
		<div class="all-page-title-subtext">
		 in ３号館 10F 30105講義室
		</div>
		</div>
		<div class="prizies-area">
		<div class="prize-category">
		Special Prize!!
		</div>
		<div class="prizies-Group">
		<div class="s-prizies">
			<div class="prize">
				<div class="prize-image">
          <%= image_tag "/images/switch.png", alt: "prize phot", class: "image"%>
				</div>
				<div class="prize-name">
					<div class="prize-name-text1">
					Nintendo Switch
					</div>
					<div class="prize-name-text2">
					ネオンブルー・ネオンレッド
					</div>
				</div>
				<div class="prize-pics">
				1名様
				</div>
			</div>
		</div>
		<div class="s-prizies">
			<div class="prize">
				<div class="prize-image">
          <%= image_tag "/images/nanocare.png", alt: "prize phot", class: "image"%>
				</div>
				<div class="prize-name">
					<div class="prize-name-text1">
					Panasonic ヘアドライヤー
					</div>
					<div class="prize-name-text2">
					ナノケア EH-NA0G-A
					</div>
				</div>
				<div class="prize-pics">
				1名様
				</div>
			</div>
		</div>
		<div class="s-prizies">
			<div class="prize">
				<div class="prize-image">
          <%= image_tag "/images/fune.png", alt: "prize phot", class: "image"%>
				</div>
				<div class="prize-name">
					<div class="prize-name-text1">
					ペアクルージングチケット
					</div>
					<div class="prize-name-text2">
					横浜 中華スイーツ付き 等
					</div>
				</div>
				<div class="prize-pics">
				2組様
				</div>
			</div>
		</div>
		<div class="s-prizies">
			<div class="prize">
				<div class="prize-image">
          <%= image_tag "/images/newiyafon.jpg", alt: "prize phot", class: "image"%>
				</div>
				<div class="prize-name">
					<div class="prize-name-text1">
					Sony ワイヤレスイヤホン
					</div>
					<div class="prize-name-text2">
					WF-1000XM4
					</div>
				</div>
				<div class="prize-pics">
				1名様
				</div>
			</div>
		</div>
		</div>	
		<div class="prize-category">
		Best Prize!!
		</div>
		<div class="prizies-Group">
			<div class="b-prizies">
				<div class="prize">
					<div class="prize-image">
            <%= image_tag "/images/dior.png", alt: "prize phot", class: "image"%>
					</div>
					<div class="prize-name">
						<div class="b-prize-name-text1">
						Dior
						</div>
						<div class="b-prize-name-text2">
						ディスカバリー <br>
						キット
						</div>
					</div>
					<div class="prize-pics">
					1名様
					</div>
				</div>
			</div>
			<div class="b-prizies">
				<div class="prize">
					<div class="prize-image">
            <%= image_tag "/images/speaker.png", alt: "prize phot", class: "image"%>
					</div>
					<div class="prize-name">
						<div class="b-prize-name-text1">
						Anker
						</div>
						<div class="b-prize-name-text2">
						Bluetooth<br>
						Soundcore 2
						</div>
					</div>
					<div class="prize-pics">
					5名様
					</div>
				</div>
			</div>
			<div class="b-prizies">
				<div class="prize">
					<div class="prize-image">
            <%= image_tag "/images/niku.png", alt: "prize phot", class: "image"%>
					</div>
					<div class="prize-name">
						<div class="b-prize-name-text1">
						選べる国産牛
						</div>
						<div class="b-prize-name-text2">
						松阪・神戸・米沢<br>
						カタログギフト
						</div>
					</div>
					<div class="prize-pics">
					5名様
					</div>
				</div>
			</div>
			<div class="b-prizies">
				<div class="prize">
					<div class="prize-image">
            <%= image_tag "/images/monster.png", alt: "prize phot", class: "image"%>
					</div>
					<div class="prize-name">
						<div class="b-prize-name-text1">
						Monster Energy
						</div>
						<div class="b-prize-name-text2">
						アソート20本<br>
						飲み比べセット
						</div>
					</div>
					<div class="prize-pics">
					5名様
					</div>
				</div>
			</div>
			<div class="b-prizies">
				<div class="prize">
					<div class="prize-image">
            <%= image_tag "/images/staba.png", alt: "prize phot", class: "image"%>
					</div>
					<div class="prize-name">
						<div class="b-prize-name-text1">
						Starbucks
						</div>
						<div class="b-prize-name-text2">
						ギフトカード<br>
						3000円分
						</div>
					</div>
					<div class="prize-pics">
					5名様
					</div>
				</div>
			</div>
			<div class="b-prizies">
				<div class="prize">
					<div class="prize-image">
						<%= image_tag "/images/anker.png", alt: "prize phot", class: "image"%>
					</div>
					<div class="prize-name">
						<div class="b-prize-name-text1">
						Anker
						</div>
						<div class="b-prize-name-text2">
						PowerCore<br>
						Fusion 10000
						</div>
					</div>
					<div class="prize-pics">
					5名様
					</div>
				</div>
			</div>
		</div>
		<div class="prize-category">
		Variety Prize!!
		</div>
		<div class="prizies-Group">
			<div class="b-prizies">
				<div class="prize">
					<div class="prize-image">
            <%= image_tag "/images/same.png", alt: "prize phot", class: "image"%>
					</div>
					<div class="prize-name">
						<div class="b-prize-name-text1">
						IKEA
						</div>
						<div class="b-prize-name-text2">
						ブローハイ
						</div>
					</div>
					<div class="prize-pics">
					5名様
					</div>
				</div>
			</div>
			<div class="b-prizies">
				<div class="prize">
					<div class="prize-image">
            <%= image_tag "/images/haburashi.png", alt: "prize phot", class: "image"%>
					</div>
					<div class="prize-name">
						<div class="b-prize-name-text1">
						クリニカ
						</div>
						<div class="b-prize-name-text2">
						歯ブラシ一年分
						</div>
					</div>
					<div class="prize-pics">
					5名様
					</div>
				</div>
			</div>
			<div class="b-prizies">
				<div class="prize">
					<div class="prize-image">
            <%= image_tag "/images/hatena.png", alt: "prize phot", class: "image"%>
					</div>
					<div class="prize-name">
						<div class="b-prize-name-text1">
						？？？
						</div>
						<div class="b-prize-name-text2">
						？？？
						</div>
					</div>
					<div class="prize-pics">
					5組様
					</div>
				</div>
			</div>
			<div class="b-prizies">
				<div class="prize">
					<div class="prize-image">
            <%= image_tag "/images/kerorin.png", alt: "prize phot", class: "image"%>
					</div>
					<div class="prize-name">
						<div class="b-prize-name-text1">
						ケロリン
						</div>
						<div class="b-prize-name-text2">
						お風呂用桶
						</div>
					</div>
					<div class="prize-pics">
					5名様
					</div>
				</div>
			</div>
			<div class="b-prizies">
				<div class="prize">
					<div class="prize-image">
            <%= image_tag "/images/toire.png", alt: "prize phot", class: "image"%>
					</div>
					<div class="prize-name">
						<div class="b-prize-name-text1">
						nepia トイレット
						</div>
						<div class="b-prize-name-text2">
						ペーパー一年分
						</div>
					</div>
					<div class="prize-pics">
					5名様
					</div>
				</div>
			</div>
			<div class="b-prizies">
				<div class="prize">
					<div class="prize-image">
            <%= image_tag "/images/hatena.png", alt: "prize phot", class: "image"%>
					</div>
					<div class="prize-name">
						<div class="b-prize-name-text1">
						？？？
						</div>
						<div class="b-prize-name-text2">
						？？？
						</div>
					</div>
					<div class="prize-pics">
					5名様
					</div>
				</div>
			</div>
		</div>
		</div>
		<div class="all-page-Text">
		- TOTAL 61 Prizes!! -
		</div>
		<div class="all-page-Text-sub">
		さらに、抽選会参加者に先着でかまとぅーグッズをプレゼント！<br>
		ゲストで「かまとぅー」登場！！
		</div>
</div>	